<% include partials/header %>
	<br>
	<div class="sale">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 offset-sm-2 text-center">
					<div class="row">
						<div class="owl-carousel2">
							<div class="item">
								<div class="col">
									<h3><a href="#">Learn new things for a better future</a></h3>
								</div>
							</div>
							<div class="item">
								<div class="col">
									<h3><a href="#">Where dreams come true</a></h3>
								</div>
							</div>
							<div class="item">
								<div class="col">
									<h3><a href="#">Enhance your skills</a></h3>
								</div>
							</div>
							<div class="item">
								<div class="col">
									<h3><a href="#">Be a better version of yourself</a></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</nav>

	<style>
		.parallax {
			background-image: url("https://images.pexels.com/photos/54216/pexels-photo-54216.jpeg");
			min-height: 400px;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.parallax1 {
			background-image: url("https://images.pexels.com/photos/7103/writing-notes-idea-conference.jpg");
			min-height: 400px;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
	<div class="parallax"></div>

	<div class="colorlib-intro">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h3 class="description">{ CourseOnline__ } is the place where dreams come true. We provide all the courses free off cost, to help you build a better future.</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12 m-4 text-center">
				<span class="col-sm-3 btn btn-primary btn-outline-primary"><i class="icon-pen"></i> Quality Courses</span>
				<span class="col-sm-3 btn btn-primary btn-outline-primary"><i class="icon-settings"></i> Logic Building</span>
				<span class="col-sm-3 btn btn-primary btn-outline-primary"><i class="icon-quill"></i> Skill Building</span>
			</div>
		</div>
	</div>

	<div class="parallax1"></div>

	<div class="colorlib-product" style="margin-bottom:0px!important; padding-bottom:0!important; margin-top:0!important; padding-top:64px!important;">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 offset-sm-2 text-center colorlib-heading" style="margin-bottom:0px!important; padding-bottom:0!important;">
					<h2>Most Viewed Courses</h2>
				</div>
			</div>
			<div class="row row-pb-md">

				<% data.forEach(function(course){ %>
					<% if(parseFloat(course['course_views'].replace(/,/g, '')) > 36000){ %>
						<div class="col-lg-3 mb-4" style="padding-bottom:0!important;">
							<div class="product-entry border" style="padding-bottom:0!important;">
								<a href="/course/<%= course['_id'] %>" class="prod-img">
									<center><img src="<%=course['course_img']%>" class="img-fluid" alt="<%=course['course_title']%>"></center>
								</a>
								<div class="desc" style="padding-bottom:0!important;">
									<span><%=course['course_category']%></span>
									<h2><a href="#"><%=course['course_title']%></a></h2>
									<p>Course Views: <b><%=course['course_views']%></b>
										<br>
										Download Size: <b><%=course['course_size']%></b></p>
								</div>
							</div>
						</div>
					<% } %>
				<% }); %>

			</div>
		</div>
	</div>

	<% include partials/footer %>
